#app {
  height: 100%;
}

.container-app {
  height: 100%;
  text-align: center;
  background: #fff;
  margin: 0;
  padding: 0;
}

.btn {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  border: 0;
  color: #4a4a4a;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  background-color: #ededed;
  margin: 0 20px 0 0;
  outline: none;
}

.btn.go {
  font-weight: 300;
  color: #fff;
  background-color: #2b2b2b;
}