.page-restaurant {
  height: 100%;
  display: flex;
  position: relative;

  footer {
    position: absolute;
    width: 100%;
    height: 93px;
    background: transparent url('./../images/footer-restaurant-background.png') left top no-repeat;
    background-size: 115px 94px;
    border-bottom: 8px solid #31bb9a;
    bottom: 0;
    left: 0;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url('./../images/footer-restaurant-background@2x.png');
    }
  }
}

.restaurant {
  flex: 1;
  height: 100%;
  z-index: 999;
}

.map {
  flex: 0 0 35%;
  height: 100%;
}

.marker {
  margin-top: -45px;
  margin-left: -55px;
  width: 130px;
  height: 110px;
  text-align: center;

  .btn {
    width: 100px;
    margin: 10px auto 0 auto;
  }

}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}

.gmnoprint div {
    background:none !important;
}