div.restaurant-reviews {
  padding: 35px 0 0 100px;
  text-align: left;

  h4 {
    font-size: 18px;
    font-weight: 300;
    color: #4a4a4a;
    margin: 0;
  }

  div.hr {
    border: 0;
    width: 70px;
    height: 3px;
    background: #31bb9a;
    margin: 10px 0 30px 0;
  }

  p {
    margin: 0;
    font-size: 14px;
    color: #4a4a4a;
    font-weight: 300;
  }
}